[Desktop Entry]
Version=1.0
Type=Application
Name=Carpe Diem
Comment=A day by day planner built for productivity.
Exec=carpe_diem
Icon=carpe_diem
Terminal=false
Categories=Office;Utility;
StartupWMClass=carpe_diem
